# Dependencies directory
/vendor/

# Configuration files
/internal/config/config.yml
/internal/config/config.dec.yml
/internal/config/firebaseKey.json
/internal/config/firebaseKey.dec.json
/internal/config/key.txt